.mainPuzzle {
    margin: auto;
    width: 50%;
    // border: 3px solid green;
    padding: auto;
    // width: 45vh;
    // height: 45vh;
}

.container {
    z-index: "12";
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 100vh;
    @media only screen and (min-width: 576px) {
        max-width: 540px
    };
    @media only screen and (min-width: 768px) {
        max-width: 720px;
    };
    @media only screen and (min-width: 992px) {
        max-width: 960px;
    };
    @media only screen and (min-width: 1200px) {
        max-width: 1140;
    }
}

.title {
    color: #3C4858;
    margin: 1.75rem 0 0.875rem;
    // text-decoration: none;
    // text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
    // display: inline-block;
    position: relative;
    margin-top: 30px;
    min-height: 32px;
    // color: black;
    text-align: center;
    border-bottom: 3px solid #3C4858;
}
.subtitle {
    font-size: 1.25rem;
    max-width: 500px;
    margin: 10px auto 0;
    // color:black;
    color: #3C4858;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.main {
    background: #ffffff;
    position: relative;
    z-index: 3;
    min-height: 100vh;
    min-width: 95vw;
}

.mainRaised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.artCanvas {
    border: 2px solid #3C4858 !important;
} 



